<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>나의게임</title>
    <link href="https://duatpwnd.herokuapp.com/yo/common/common.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/css/mylist.css" rel="stylesheet" type="text/css">
    <link href="https://duatpwnd.herokuapp.com/yo/common/mediaquery.css" type="text/css" rel="stylesheet">
    <script src="https://duatpwnd.herokuapp.com/yo/js/jquery-3.2.1.min.js"></script>
    <script src="https://duatpwnd.herokuapp.com/yo/js/common.js"></script>
</head>

<body>
    <div id="wrap">
        <header>
            <a href="main.html" class="back">
                <img src="https://duatpwnd.herokuapp.com/yo/images/back.png" alt="뒤로가기" title="뒤로가기">
            </a>
            <h1>
                내게임
            </h1>
        </header>
        <div class="search_menu">
            <input type="text" id="spc_search" class="nickname_enter" placeholder="내 게임 검색" onkeyup="search1();cal(totalmember);">
            <button type="submit" class="nickname_search">
        </div>
        <div class="member_list member_list1">
            <ul class="member_list_wrap">
                <li class="member_counting">
                    <a href="#" class="bookmark">
                        즐겨찾기
                    </a>
                </li>
                <li class="member_counting">
                    <a href="#" class="profile_thumb">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/gameprofile1.png" alt="게임프로필" title="게임프로필">
                    </a>
                    <a href="#" class="member_info mem_modify">
                        <span class="user_id">업</span>
                        <span class="time">10분전</span>
                        <img src="https://duatpwnd.herokuapp.com/yo/images/new.png" class="new">
                        <span class="arrow_ico2">
                            <img src="https://duatpwnd.herokuapp.com/yo/images/arrow.png" alt="화살표" title="화살표">
                        </span>
                    </a>
                </li>
                <li class="member_counting">
                    <a href="#" class="total_member">
                        <span class="member_check">
                            <%= list.length %>
                        </span>개의 게임에서 활동중입니다.</a>
                </li>
                <% 
                
                
                for(var i=0; i<list.length; i++){
                    var time = list[i].guildmaketime;
                    var time0 = Math.ceil((Date.now()-time)/1000);
                    var time1 = Math.ceil(((Date.now()-time)/1000)/60);
                    var time2 = Math.ceil((((Date.now()-time)/1000)/60)/60);
                    var time3 = Math.ceil(((((Date.now()-time)/1000)/60)/60)/24);
                    var abc = list[i].guildimage;
                    %>
                    <li>
                        <a href="/guildtalk/guildmaster/?page=1&curn=<%= i %>&guildname=<%= list[i].guildname%>">
                            <span class="profile_thumb">
                                <%
                            if(abc == ''){
                            %>
                                    <img src="http://duatpwnd.herokuapp.com/yo/images/gameprofile.png" alt="게임프로필" title="게임프로필">
                                    <%}else{%>
                                        <img src="<%= list[i].guildimage %>" alt="게임프로필" title="게임프로필">
                                        <%}%>
                            </span>
                            <span class="member_info mem_modify">
                                <span class="user_id">
                                    <%= list[i].guildname %>
                                </span>
                                <%
                                    if(time0 < 3600){
                                %>
                                    <span class="time">
                                        <%= time1 %>분전</span>
                                    <%}else if(time0>=3600 && time0<86400){
                                        %>
                                        <span class="time">
                                            <%= time2 %>시간전</span>
                                        <%}else if(time0>=86400){
                                        %>
                                            <span class="time">
                                                <%= time3 %>일전</span>
                                            <%}%>
                                                <%
                                if(time0 < 86400){
                            %>
                                                    <img src="https://duatpwnd.herokuapp.com/yo/images/new.png" class="new">
                                                    <%}else{%>
                                                        <%}%>
                                                            <span class="arrow_ico2">
                                                                <img src="https://duatpwnd.herokuapp.com/yo/images/arrow.png" alt="화살표" title="화살표">
                                                            </span>
                            </span>
                        </a>

                    </li>
                    <%}%>
            </ul>
        </div>
        <footer>
            <ul>
                <li>
                    <a href="/friendMain" class="friend_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/friend.png" alt="친구" title="친구">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/chat" class="talk_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/talk.png" alt="채팅" title="채팅">
                    </a>
                </li>
                <li>
                    <a href="/guildtalk/main" class="guild_btn">
                        <img src="https://duatpwnd.herokuapp.com/yo/images/guild.png" alt="커뮤니티" title="커뮤니티">
                    </a>
                </li>
            </ul>
        </footer>
    </div>
</body>

</html>